<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bankomat</title>
    </head>
    <body>
        <div class="bankomat">
            <h2>Банкомат</h2>
            <form action="" @submit.stop.prevent="sendRequest('calculate', true)">
                <label for="">
                    <span>Номинал в наличии</span>
                    <input type="text" placeholder='' :value="getNominals" disabled>
                </label>
                <label for="">
                    <span>Ваша сумма</span>
                    <input type="text" @input="validateInput" placeholder="1200">
                </label>
                <div class="button">
                    <input type="submit" value="Отправить">
                </div>
            </form>
            <template v-if="response">
                <div class="bankomat__response">
                    <h2>Ответ:</h2>
                    <div class="bankomat__response-items" v-if="response['STATUS'] == 'SUCCESS'">
                        <div class="bankomat__response-item">
                            <div>Номинал</div>
                            <div>Кол-во</div>
                        </div>
                        <div class="bankomat__response-item" v-for="(item, key) in response['RESULT']" :key="item">
                            <div>{{key}}</div>
                            <div>{{item}}</div>
                        </div>
                    </div>
                    <div class="bankomat__response-error" v-else>
                        {{response['RESULT']}}
                    </div>
                </div>
            </template>
        </div>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="js/main.js"></script>
    </body>
</html>


