.converter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 64rem;
    max-width: 100%;
    margin: auto;
}

.converter__in {
    width: 80%;
}

.converter__out {
    width: 20%;
}

.converter__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.converter__row > div {
    width: 33.333%;
}

.converter-alert {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.converter__row > div select {
    margin-right: 1rem;
}